.boton {
    display: block;

    margin: $small;
    padding: $small $normal;
    background: $color3;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    color: white;

    &:hover {
        background: $color2;
        color: white;
    }
}
