.listado{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    color: white;
    
    h1{
        text-align: center;
        padding: $small;
        font-size: $font-bigxl;
        font-weight: 800;

    }
    &__createLink{
        color: cyan;
        
        font-size: $font-big;
        font-weight: 500;
       
        &:hover{
            text-decoration: underline;
        }

    }
    &__lista{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    
    
    li {
        a {
            font-weight: 500;
             &:hover {
                 text-decoration: underline;
             }
        }
    
}
    }
    
}