.listaPersonas {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    h1 {
        text-align: center;
        font-size: $font-bigxl;
        color: white;
        font-weight: 900;
    }
    .listaPersonas__contenedor {
        .titulos {
            display: grid;
            grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
            grid-gap: 10px;
            font-size: $font-big;
            border-bottom: $color1 2px solid;
            color: cyan;
        }

        .contenedor_lista {
            display: grid;
            grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
            grid-gap: 10px;
            border-bottom: $color1 2px solid;
            padding: $small;

            p {
                color: white;
                font-size: $font-big;
            }
            a {
                color: white;
            }
        }
    }
}
