@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

$color1: #329f5b;
$color2: #0c8346;
$color3: #0d5d56;
$color4: #ffbfa0;
$color5: #8fd5a6;
$color-claro: #ffffff;

// fuente
$fuente1: "Open Sans",
sans-serif;
$fuente2: "Courgette",
cursive;
//espaciados
$small: 5px;
$normal: 10px;
$big: 20px;
$bigxl: 30px;

// tamaños
$font-small2:12px;
$font-small: 14px;
$font_normal: 18px;
$font_big: 22px;
$font-bigxl: 30px;